absl-py
asgiref
astunparse
attrs
beautifulsoup4
bs4
cachetools
certifi
cffi
charset-normalizer
colorama
Django
filelock
flatbuffers
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h11
h5py
huggingface-hub
idna
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
oauthlib
opt-einsum
optree
outcome
packaging
protobuf
pyasn1
pyasn1_modules
pycparser
Pygments
PySocks
python-dotenv
PyYAML
regex
requests
requests-oauthlib
rich
rsa
safetensors
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
tensorboard
tensorboard-data-server
tensorflow[and-cuda]=2.12
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tokenizers
tqdm
transformers
trio
trio-websocket
tzdata
urllib3
webdriver-manager
Werkzeug
whitenoise
wrapt
wsproto
